<%= form_for [list, item], remote: true do |f| %>
  <div class='row'>
    <div class='col-md-8'><b><%= f.text_field :body, :size => '25%', placeholder: "  Enter the item here you want to add to your list:" %></b></div>
    
    <div class='col-md-2'><b>7</b></div> 
    <div class='col-md-2'><b><%= f.submit 'Add', class: 'btn btn-success', id: 'style-me' %></b></div>
  </div>
<% end %>